
pre {
    width: 900px;
}

code, pre, tt, textarea {
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    font-size: 12px;
    line-height: 18px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.topbar {
    background-color: white;
    height: 60px;
    left: 0px;
    min-width: 490px;
    padding-left: 252px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 100;
    border-bottom: 1px solid #D3D3D3;
    white-space: nowrap;
}

.topbar-title {
    display: block;
    height: 60px;
    left: 15px;
    position: absolute;
    top: 0;
}

div.code {
    position: relative;
    background: none repeat scroll 0 0 #FFFFFF;
    width: 920px;
    display: inline-block;
}

div.code pre {
    float: left;
    width: 450px;
    padding: 2px;
    display: block;
    background: none repeat scroll 0 0 #FFFFFF;
}

div.code pre code {
    background: none repeat scroll 0 0 #F8F8FF;
}

div.code-nested {
    position: relative;
    background: none repeat scroll 0 0 #FFFFFF;
    width: 900px;
    display: inline-block;
}

div.code-nested pre {
    float: left;
    width: 430px;
    padding: 2px;
    display: block;
    background: none repeat scroll 0 0 #FFFFFF;
}

div.code-nested pre code {
    background: none repeat scroll 0 0 #F8F8FF;
}

.heading-list dd {
    margin-left: 20px;
}

.title, .title:hover {
    color: #333333;
    text-decoration: none;
}

.top-nav-title {
    margin-top: 1px;
    font-weight: bold;
    color: #999999;
}

.dropdown-menu li {
    text-align: left;
}

.dropdown-title {
    border-bottom: 1px solid #D3D3D3;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.bookmark {
    display: block;
    height: 0;
    position: relative;
    top: -80px;
    width: 0;
}

.dl-horizontal dt {
    margin-top: 15px;
    text-align: left;
    font-weight: normal;
    width: 200px;
}

.dl-horizontal dd {
    margin-top: 15px;
    margin-left: 205px;
}

.para-link a {
    color: #FFFFFF;
}

.para-link:hover a {
    color: #D3D3D3;
    text-decoration: none;
}

/*ref: https://github.com/ccampbell/rainbow/blob/master/themes/github.css */

/**
* GitHub theme
*
* @author Craig Campbell
* @version 1.0.4
*/
pre {
    border: 1px solid #ccc;
    word-wrap: break-word;
    padding: 6px 10px;
    line-height: 19px;
    margin-bottom: 20px;
}

code {
    border: 1px solid #eaeaea;
    margin: 0px 2px;
    padding: 0px 5px;
    font-size: 12px;
}

pre code {
    border: 0px;
    padding: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

pre, code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    color: #333;
    background: #f8f8f8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

pre, pre code {
    font-size: 13px;
}

pre .comment {
    color: #998;
}

pre .support {
    color: #0086B3;
}

pre .tag, pre .tag-name {
    color: navy;
}

pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
    font-weight: bold;
}

pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
    color: #333;
}

pre .constant.numeric, pre .keyword.unit, pre .hex-color {
    font-weight: normal;
    color: #099;
}

pre .entity.class {
    color: #458;
}

pre .entity.id, pre .entity.function {
    color: #900;
}

pre .attribute, pre .variable {
    color: teal;
}

pre .string, pre .support.value {
    font-weight: normal;
    color: #d14;
}

pre .regexp {
    color: #009926;
}